*{
    padding: 3px;
    margin: opx;

 }



 body{
   background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
     
 }

 
#container {
   margin: 10px auto;
   border: 1px solid black;
   
}


  h1 {
     text-align: center;
     color:black
     
  }

  h2{text-align: center;
   color: black
  }


   header{text-align: center;
      color: blue
 }



 h3{text-align: center;
   color:black
 }

 form{text-align: center;
 
 }

main,h3,ul{
   color: black;
}


 footer{
   background:papayawhip;
   text-align: center;
   height:100px;
   padding:50;
 }


 
